{% extends "base.html" %}

    {% block title %}
    Accept Invitation
    {% endblock %}

    {% block content %}
    <div class="well col-md-8">
        <h3>User {{ invitation.from_user }} has invited you to play a game, saying:</h3>
        <blockquote> <h4> {{ invitation.message }} </h4> </blockquote>

        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="accept" class="btn btn-success" value="ok" >Accept</button>
            <button type="submit" name="deny" class="btn btn-danger" value="no" >Deny</button>
        </form>
    </div>
    {% endblock content %}
